.git
.github
.venv
venv
**/__pycache__
**/*.pyc
.pytest_cache
.mypy_cache
.ruff_cache
data
reports
notebooks
tests
Docs
app/components/explorer/frontend/node_modules
app/components/explorer/frontend/src
*.log
.env
